<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/styles/style.css">
    <link rel="shortcut icon" href="../src/assets/icon-site.png" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    
    <main>
        <div class="container">
            <div id="imagem-ifpb">
                <img src="../src/assets/ifpb-logo.png" alt="ifpb-logo" height="85px">
            </div>
            <div id="imagem-logo">
                <img src="../src/assets/logo-site.png" alt="logo-mural" height="300px">
            </div>
            <div id="formulario-login">
                <h2>Entrar</h2>
                <div class="fields">
                    <label><input type="text" name="matricula" id="userLogin" placeholder="Usuário"></label>
                    <label><input type="password" name="senha" id="passwordLogin" placeholder="Senha"></label>
                </div>
            
                <div class="findPassword">
                    <button id="findPassword">Esqueceu a senha ?</button>
                </div>
                <div class="connected">
                    <label>
                        <input type="checkbox">
                        <span>Lembre da próxima vez</span>
            
                    </label>
                </div>
                <div class="enterButton">
                    <button id="enterButton">Entrar</button>
                </div>
                <div class="newAccount">
                    <label>Não tem uma conta?</label>
                    <span id="newAccount">Criar Conta</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>