@import url("./style.css");

#imagem-ifpb {
    margin-top: 20px;
    display: flex;
    position: absolute;
}

#imagem-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem-logo img {
    margin-top: 60px;
}

#formulario-login {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    justify-content: center;
    text-align: left;
}

#formulario-login input,
#formulario-login h2,
#formulario-login button {
    border-radius: 5px;
    border: none;
}

#formulario-login h2 {
    font-weight: 100;
    color: var(--cor-texto);
    
}

#formulario-login .fields input {
    background-color: var(--cor-fundo);
    margin-top: 20px;
    padding: 15px;
    outline: none;
    border: 1px solid var(--cor-outline);
    padding-left: 45px;
    color: var(--cor-texto);
}

#formulario-login .fields input:hover {
    border: 1px solid var(--cor-hover);
}

#formulario-login .fields input:focus {
    border: 1px solid var(--cor-primaria);
}

.fields label {
    position: relative;
    display: flex;
    flex-direction: column;
}

.fields label::after {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.fields label:nth-child(1)::after {
    content: url("../assets/user.svg");
}

.fields label:nth-child(2)::after {
    content: url("../assets/password.svg");
}

.findPassword {
    display: flex;
    justify-content: flex-end;
}

#findPassword {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    color: var(--cor-primaria);
    transition: 0.3s;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
}

#findPassword:hover {
    color: var(--cor-primaria-hover-text);
    text-decoration: underline;
}

.connected label {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.connected input {
    height: 15px;
    width: 15px;
    appearance: none;
    border-radius: 3px;
    outline: none;
    transition-duration: 0.3s;
    background-color: var(--cor-outline);
    cursor: pointer;
    margin-top: 2px;
}

.connected span {
    color: var(--cor-texto);
    padding-left: 5px;
    font-size: small;
}

.connected input:checked {
    background-color: var(--cor-primaria);
}

.connected input:checked+span::before {
    content: "\2713";
    display: block;
    color: var(--cor-texto);
    position: absolute;
    left: 3px;
}

.enterButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.enterButton button {
    background-color: var(--cor-primaria);
    padding: 15px 15px;
    color: var(--cor-texto);
    transition: 0.3s;
    cursor: pointer;
}

.enterButton button:hover {
    background-color: var(--cor-primaria-hover);
}

.newAccount {
    margin-top: 10px;
    color: var(--cor-texto);
    text-align: center;
    font-size: small;
}

.newAccount span {
    color: var(--cor-primaria);
    transition: 0.3s;
    cursor: pointer;
    font-weight: 900;
    text-decoration: underline;
}

.newAccount span:hover {
    color: var(--cor-primaria-hover-text);
}